<!-- <h3>hello Angular!!</h3> -->
<!-- <button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit"> -->
<div class="d-flex flex-row-reverse">
  <a routerLink="manage/list" class="p-2">Manage</a>
  <a routerLink="delete" class="p-2">Delete</a>
  <a routerLink="active" class="p-2">About</a><br>
  <a routerLink="home" class="p-2">Home</a><br>

</div>
<hr class="my-4" />
<router-outlet></router-outlet>